@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  color: #fff;
}

.ql-toolbar {
  border-radius: 0.25rem 0.25rem 0 0 !important;
}
.ql-container {
  border-radius: 0 0 0.25rem 0.25rem !important;
}
